---
import Main from "../layouts/Main.astro";
import Cards from "../components/Cards.astro";
---

<Main title="Home Page">
  <Cards
    cards={[
      {
        to: "newsletter-signup",
        title: "Newsletter sign-up form",
        imagePath: "/src/images/NL_preview.webp",
        altText: "Newsletter sign-up form",
      },
      {
        to: "/card-details-form",
        title: "Card Details Form",
        imagePath: "/src/images/cardDF_preview.gif",
        altText: "Card details form preview",
      },
      {
        to: "/order-summary",
        title: "Order Summary",
        imagePath: "/src/images/OrderS_preview.webp",
        altText: "Order summary preview",
      },
      {
        to: "/landing-page",
        title: "Landing Page",
        imagePath: "/src/images/Landing_preview.webp",
        altText: "Landing page preview",
      },
      {
        to: "/insurance-landing",
        title: "Insurance Landing Page",
        imagePath: "https://placehold.co/300x200",
        altText: "Insurance Landing Page preview",
      },
      {
        to: "/order-summary",
        title: "Order Summary",
        imagePath: "https://placehold.co/300x200",
        altText: "Newsletter sign-up form",
      },
    ]}
  />
</Main>
