---
import Main from "../layouts/Main.astro";
import Cards from "../components/Cards.astro";
---

<Main title="Home Page">
  <Cards
    cards={[
      {
        to: "newsletter-signup",
        title: "Newsletter sign-up form",
        imagePath: "/src/images/NL_preview.webp",
        altText: "Newsletter sign-up form",
      },
      {
        to: "/component-2",
        title: "Component 2",
        imagePath: "https://placehold.co/400x310",
        altText: "Newsletter sign-up form",
      },
    ]}
  />
</Main>
