---
import Main from "../layouts/Main.astro";
import NavResponsive from "../components/NavResponsive.jsx";
import { iconSnappy, iconAffordable, iconPeople } from "../images/insurance";
---

<Main title="Insurance Landing Page">
  <NavResponsive client:load />
  <div class="introImage"></div>
  <section class="bg-[#2c2640] text-white text-center py-20">
    <div class="container px-5">
      <h2 class="ff-title text-5xl mb-6">Humanizing your insurance.</h2>
      <p class="font-karla">
        Get your life insurance coverage easier and faster. We blend our
        expertise and technology to help you find the plan that’s right for you.
        Ensure you and your loved ones are protected.
      </p>
      <button
        class="border-2 px-8 py-2 font-karla tracking-widest mt-8 font-semibold"
        >VIEW PLANS</button
      >
    </div>
  </section>
  <section class="text-center">
    <div class="border border-[#c2b3c3] mt-32 mb-9 w-40 mx-auto"></div>
    <div class="container px-6">
      <h3 class="text-5xl mb-16">We're different</h3>
      <article>
        <img src={iconSnappy.src} class="mx-auto w-20" alt="icon " />
        <h4 class="text-2xl mt-5">Snappy Process</h4>
        <p class="font-karla text-slate-500 mt-4">
          Our application process can be completed in minutes, not hours. Don’t
          get stuck filling in tedious forms.
        </p>
      </article>
      <article class="mt-12">
        <img src={iconAffordable.src} class="mx-auto w-20" alt="icon " />
        <h4 class="text-2xl mt-5">Affordable Prices</h4>
        <p class="font-karla text-slate-500 mt-4">
          We don’t want you worrying about high monthly costs. Our prices may be
          low, but we still offer the best coverage possible.
        </p>
      </article>
      <article class="mt-12">
        <img src={iconPeople.src} class="mx-auto w-20" alt="icon " />
        <h4 class="text-2xl mt-5">People First</h4>
        <p class="font-karla text-slate-500 mt-4">
          Our plans aren’t full of conditions and clauses to prevent payouts. We
          make sure you’re covered when you need it.
        </p>
      </article>
    </div>
  </section>

  <style>
    .ff-title {
      font-family: "DM Serif Display", serif;
      font-weight: 700;
      font-style: normal;
    }
    .introImage {
      height: 27rem;
      background-image: url("../images/insurance/image-intro-mobile.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      border: 1px solid black;
    }
  </style>
</Main>
