.mainComponent {
  /* position: absolute;
  top: 23rem; */
  z-index: 50;
  color: white;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

form {
  color: #230932;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 7px;
}

input {
  border: 1px solid #e5e5e5;
  width: 100%;
  border-radius: 5px;
  height: 2.5rem;
  padding: 1rem;
}

#cardBtn {
  background-color: #21082f;
  color: white;
  width: 100%;
  margin-top: 1.5rem;
  border-radius: 5px;
  padding: 1rem 0;
  font-size: 1.2rem;
}

.custom-gradient {
  --gradient-start: #21082f;
  --gradient-middle: #6145fb;
  --gradient-end: #2f2f2f;
  background-image: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-middle),
    var(--gradient-end)
  );
  transition: background-image 2s;
}

.custom-gradient:hover {
  --gradient-start: #6145fb;
  --gradient-middle: #21082f;
  --gradient-end: #3f51b5;
}
.hidden {
  display: none;
}

#icon-complete {
  height: 5rem;
  width: 5rem;
  background-image: url("../icons/icon-complete.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 4;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media (min-width: 440px) {
  .mainComponent {
    max-width: 420px;
  }
}

@media (min-width: 780px) {
  .mainComponent {
    margin-top: 2rem;
  }
}
