<nav>
  <ul class="flex justify-around">
    <li><a href="/">Home</a></li>
    <li><a href="/allcomponents">All Components</a></li>
    <li><a href="https://github.com/Dr-Phi">Github</a></li>
  </ul>
</nav>
